<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%
  var title = page.title;
  var afterTitle;

  if(title && title.indexOf(config.title) !== 0) {
    title = title + " - " + config.title;    
  }

  if (is_archive()){
    title = 'Archives';

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = 'Category: ' + page.category;
  } else if (is_tag()){
    title = 'Tag: ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> <% } %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <% if (theme.rss){ %>
  <link rel="alternative" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <% if (theme.favicon){ %>
  <link rel="icon" href="<%- theme.favicon %>">
  <% } %>
  <%- css('css/normalize.css') %>
  <%- css('css/foundation.min.css') %>
  <%- css('css/site') %>
</head>