<%- partial('_partial/head') %>
<body>
    <div id="wrap">
    	<div id="main-container">
			<%- partial('_partial/header', null, {cache: !config.relative_link}) %>
			<section id="main"><%- page.content %></section>
		</div>
    </div>
	<%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
	<%- partial('_partial/after-footer') %>
</body>
</html>
